<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="weather.css">
</head>

<body>
    <h1>Current Weather Search</h1>
    <!-- <br> -->
    <h4>Enter Zip Code or City Name below</h4>
    <input type="text" name="cityzip" id="cityzip" placeholder = "Sample: 91210 OR beverlyhills">
    <hr>
    
  <div class = "display_data">
    
    <p id="cityname">City Name: <br>-------</p>
    <p id="percip">Percipitation: <br>-------</p>
    <p id="humid">Humidity: <br>-------</p>
    <p id="currTemp">Current Temp.: <br>-------</p>
    <p id="feelsLike">Feels Like: <br>-------</p>
    <p id="cord">Cordinates: <br>-------</p>
    
  </div>
    

    <button id="button">CLICK for the current weather in the city of the zipcode you entered</button>

    <script src="weather.js"></script>
    
</body>
</html>